.questionBlock{
    border-bottom: 0.5px solid rgb(129, 129, 129);
    cursor: pointer;
}
p{
    padding: 20px;
}
.q{
    display: flex;
    justify-content: space-between;
}
.a{
    display: none;
}

.qActive{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.aShow {
    display: block;
}
.arrow{
    transform: rotate(180deg);
    transition: 1s;
}

.questionBlock:hover .q{
    color: hsl(14, 88%, 65%);
}

