.Card{
    box-shadow: 0 0 10px hsla(234, 14%, 74%, 0.507);
    padding: 35px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    z-index: 1;
    background-color: white;
}
.type{
    margin-bottom: 25px;
}
.price{
    font-size: 50px;
    margin-bottom: 20px;
    color: hsl(232, 13%, 33%);
}
.info{
    border-top: 1px solid hsla(234, 14%, 74%, 0.507);
    padding: 13px;
    font-size: 15px;
    font-weight: 600;
}
.info:last-child{
    border-bottom: 1px solid hsla(234, 14%, 74%, 0.507);
}


button{
    margin-top: 25px;
    background-color:  hsl(240, 78%, 98%);
    padding: 7px 70px;
    outline: none;
    border: 2px solid hsl(234, 14%, 74%);
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(233, 13%, 49%);
    cursor: pointer;
    letter-spacing: 1px;
}
