*, ::after, ::before, html,  body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body{
  background: linear-gradient(to top left, hsl(273, 75%, 66%),  hsl(240, 73%, 65%));
}
p{
  font-size: 50px;
}