.App{
  font-family: Red Hat Text;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 20px;
  padding: 100px 150px;
  margin: 0 auto;
  text-align: center;
}
header{
  font-weight: 700;
}